---
import { getCollection } from "astro:content";
import ButtonLink from "../components/ButtonLink.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import HorizontalSeparator from "../components/HorizontalSeparator.astro";
import NavBar from "../components/NavBar.astro";
import HeaderDescription from "../components/HeaderDescription.astro";

const projects = await getCollection("project");

const websites = await getCollection("websites");

const games = await getCollection("games");

const heading = "My Projects"

---

<NavBar />
<Layout>
  <Section gridForm={true}>
    <HeaderDescription heading="Projects"/>


    <div id="grid-separator">
      <h2>Software</h2>
      <div class="grid-enclauser">
        {projects.map(project => (
          <a href={`${project.data.githubURL}`}>
            <div class="card">
                <div>
                  <h3>{project.data.title}</h3>
                  <p class="description">{project.data.description}</p>
                </div>
            </div>
          </a>
          <HorizontalSeparator margin="16px 0px"/>
        ))}
      </div>

      <h2>Games</h2>
      <div class="grid-enclauser">
        {games.map(games => (
          <a href={`${games.data.githubURL}`}>
            <div class="card">
                <div>
                  <h3>{games.data.title}</h3>
                  <p class="description">{games.data.description}</p>
                </div>
            </div>
          </a>
          <HorizontalSeparator margin="16px 0px"/>
        ))}
      </div>

      <h2>Websites</h2>
      <div class="grid-enclauser">
        {websites.map(website => (
          <a href={`${website.data.githubURL}`}>
            <div class="card">
                <div>
                  <h3>{website.data.title}</h3>
                  <p class="description">{website.data.description}</p>
                </div>
            </div>
          </a>
          <HorizontalSeparator margin="16px 0px"/>
        ))}
      </div>


    </div>
  </Section>
</Layout>



<style>

  #grid-separator{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;

    h2{
      font-size: 20px;
      color: var(--light);
      user-select: none;
      padding-top: 12px;
    }
  }

  @media (max-width: 800px) {
    #grid-separator{
      grid-template-columns: 1fr; /* Uma coluna única para telas grandes */
    }
  }

  a{
    text-decoration: none;


    :hover{
      background-color: var(--secondary);
    }
  }

  .card {
    overflow: hidden;
    display: flex;
    gap: 40px;
    padding: 12px;

    

    h3{
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 4px;
    }

    .description {
      font-size: 14px;
    }

    img {
      height: 200px;
      width: 200px;
      object-fit: cover;
    }

    .button-container {
      display: flex;
      gap: 10px;
      margin-top: 10px;
    }
    
    
    @media (max-width: 800px) {
      #grid-separator{
        display: grid;
        grid-template-columns: auto;
      }

      & {
        flex-direction: column;
      }

      img {
        align-self: center;
      }
    }

    @media (max-width: 600px) {
      .button-container {
        flex-direction: column;
        gap: 10px;
      }
    }
  }
</style>
