---
interface Props{
  href: string;
  text: string;
  variant?: 'primary' | 'secondary'
  isDownload?: boolean;
}

const { href, text, variant="primary", isDownload = false } = Astro.props;
---

{isDownload &&
  <a href={href} class={`button-link ${variant}`} download>{text}</a>
}

{!isDownload &&
  <a href={href} class={`button-link ${variant}`}>{text}</a>
}

<style>
  .button-link{
    padding: 18px 32px 14px 32px;
    text-align: center;
    width: 230px;
    vertical-align: middle;
    text-decoration: none;
  }

  .primary{
    background-color: var(--primary);
    color: white;
  }

  .secondary{
    background-color: white;
    color: var(--primary);
    border: 1px solid var(--primary);
  }
</style>